<head>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
</head>


<h1>{{ player.nickname }}</h1>

{%  if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<ul>
    <li>{{  player.first_name }} {{  player.last_name }}</li>
    <li>{{ gender_line }}</li>
    <li>{{  field_position }}</li>

</ul>

<!--Link to edit player info-->
<a href="{% url 'team:player_edit' player.nickname %}">Edit your info</a>


<h2>Events</h2>

<table>
    <tr>
        {% for event in event_list %}
            <td>{{ event.name }}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for att in attendance %}
            <td>{{ att }}</td>
        {% endfor %}
    </tr>

</table>

<!--Add link to edit event info-->

<h2>Events</h2>
<ul>
{% for event in event_list %}
    <li>{{ event.name }}</li>
{% endfor %}
</ul>

<h2>Events attending</h2>
<ul>
{% for event in player.event_set.all %}
    <li>{{ event.name }}</li>
{% endfor %}
</ul>
