<head>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
</head>


<h1>{{ player.nickname }}</h1>

{%  if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<ul>
    <li>{{  player.first_name }} {{  player.last_name }}</li>
    <li>{{ gender_line }}</li>
    <li>{{  field_position }}</li>

</ul>

<!--Link to edit player info-->
<a href="{% url 'team:player_edit' player.nickname %}">Edit your info</a>


<h2>Event Attendance</h2>

<table>
    {% for item in pairs %}
    <tr>
        <td>{{ item.0 }}</td>
        <td>{{ item.1 }}</td>
    </tr>
    {% endfor %}

</table>

<!--Add link to edit event info-->
<a href="{% url 'team:player_attendance' player.nickname %}">Edit your attendance</a>
